*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url('@/assets/images/city-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.container {
  max-width: 144rem;
  width: 100%;
  padding: 0 4rem;
  margin: 0 auto;
}

.main {
  position: relative;
}